<section class="about section" id="about">
  <div class="container">
    <h2 class="about-title">The Artistry Behind Handmade Jewelry</h2>

    <p class="about-description">
    Handmade Jewelry began as a passion project, inspired by the beauty of nature and the desire to create meaningful
    pieces. Each item is crafted with love, reflecting our commitment to sustainability and the unique story of its maker.
    </p>

    <ul class="about-list">
      <li class="about-item">
         <svg class="about-item-icon" width="19" height="20">
          <use href="img/icons.svg#leaf"></use>
         </svg>
         <p class="about-item-text">Inspired by Nature</p>
      </li>

      <li class="about-item"> 
        <svg class="about-item-icon" width="20" height="19">
          <use href="img/icons.svg#donate-heart"></use>
        </svg>
          <p class="about-item-text">Handcrafted with Love</p>
      </li>

      <li class="about-item">
        <svg class="about-item-icon" width="18" height="20">
          <use href="img/icons.svg#book"></use>
        </svg>
          <p class="about-item-text">Every Piece Tells a Story</p>
      </li>

    </ul>
  </div>
</section>