<footer class="footer">
  <div class="container">
    <div class="footer-main">
      <div class="footer-brand">
        <a
          class="footer-logo"
          href="#header"
          aria-label="Go to the top of the page"
        >
          <svg
            class="footer-logo-icon"
            width="217"
            height="93"
            aria-hidden="true"
          >
            <use href="./img/icons.svg#logo"></use>
          </svg>
        </a>

        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a
              class="footer-social-link"   
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Facebook"
            >
              <svg
                class="footer-social-icon"
                width="32"
                height="32"
                aria-hidden="true"
              >
                <use href="./img/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>

          <li class="footer-social-item">
            <a
              class="footer-social-link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Instagram"
            >
              <svg
                class="footer-social-icon"
                width="32"
                height="32"
                aria-hidden="true"
              >
                <use href="./img/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>

          <li class="footer-social-item">
            <a
              class="footer-social-link"
              href="https://x.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="X"
            >
              <svg
                class="footer-social-icon"
                width="32"
                height="32"
                aria-hidden="true"
              >
                <use href="./img/icons.svg#x"></use>
              </svg>
            </a>
          </li>

          <li class="footer-social-item">
            <a
              class="footer-social-link"
              href="https://www.linkedin.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="LinkedIn"
            >
              <svg
                class="footer-social-icon"
                width="32"
                height="32"
                aria-hidden="true"
              >
                <use href="./img/icons.svg#linkedin"></use>
              </svg>
            </a>
          </li>

          <li class="footer-social-item">
            <a
              class="footer-social-link"
              href="https://www.youtube.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="YouTube"
            >
              <svg
                class="footer-social-icon"
                width="32"
                height="32"
                aria-hidden="true"
              >
                <use href="./img/icons.svg#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <nav class="footer-nav" aria-label="Footer navigation">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#about">About us</a>
          </li>

          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#benefits">Benefits</a>
          </li>

          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#gallery">Gallery</a>
          </li>

          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#testimonials">Testimonials</a>
          </li>

          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>

    <p class="footer-copyright">
      © 2025 Handmade Jewelry. All rights reserved.
    </p>
  </div>
</footer>