<div
  class="mobile-menu"
  id="mobile-menu"
  role="dialog"
  aria-modal="true"
  aria-label="Mobile navigation"
  aria-hidden="true"
  tabindex="-1"
>
  <div class="mobile-menu-header">
    <a class="mobile-menu-logo" href="./index.html" aria-label="Home page">
      <svg class="mobile-menu-logo-icon" width="160" height="68">
        <use href="./img/icons.svg#logo"></use>
      </svg>
    </a>

    <button
      class="mobile-menu-close"
      type="button"
      aria-label="Close mobile menu"
      data-menu-close
    >
      <svg
        class="mobile-menu-close-icon"
        width="24"
        height="24"
        aria-hidden="true"
      >
        <use href="./img/icons.svg#close"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu-content">
    <nav class="mobile-menu-navigation" aria-label="Mobile navigation">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-item">
          <a class="mobile-menu-link animated-link" href="#about">About us</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link animated-link" href="#benefits">Benefits</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link animated-link" href="#gallery">Gallery</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link animated-link" href="#testimonials">Testimonials</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link animated-link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>

    <a class="mobile-menu-order" href="#contacts">Order Now</a>
  </div>
</div>
