<section class="testimonials section" id="testimonials">
  <div class="container">
    <div class="testimonials-wrapper">
      <div class="testimonials-header">
        <h2 class="testimonials-title">Customer testimonials</h2>
        <p class="testimonials-descr">Absolutely love my new earrings! They are stunning.</p>
      </div>
      <!-- Testimonials content -->
      <ul class="testimonials-list"> <!-- Container in maquette -->
        <li class="testimonials-list-item"> <!-- Column in maquette -->
          <ol class="testimonials-list-list"> <!-- Row in maquette -->
            <li class="testimonial-item img">
              <picture class="testimonial-photo" height="260" width="335">
                <source media="(min-width: 1440px)"
                  srcset="./img/testimonials/woman-desk.webp 1x, ./img/testimonials/woman-desk@2x.webp 2x" />
                <source media="(min-width: 768px)"
                  srcset="./img/testimonials/woman-tab.webp 1x, ./img/testimonials/woman-tab@2x.webp 2x" />
                <img src="./img/testimonials/woman-mob.webp" srcset="./img/testimonials/woman-mob@2x.webp 2x"
                  alt="A woman's ear adorned with a handmade earring, her head slightly tilted, soft focus on her joyful expression in the background, natural light, warm tones" />
              </picture>
            </li>
            <li class="testimonial-item img">
              <picture class="testimonial-photo" height="260" width="335">
                <source media="(min-width: 1440px)"
                  srcset="./img/testimonials/man-desk.webp 1x, ./img/testimonials/man-desk@2x.webp 2x" />
                <source media="(min-width: 768px)"
                  srcset="./img/testimonials/man-tab.webp 1x, ./img/testimonials/man-tab@2x.webp 2x" />
                <img src="./img/testimonials/man-mob.webp" srcset="./img/testimonials/man-mob@2x.webp 2x"
                  alt="A candid shot of a man's face, slightly out of focus, as he admires a handmade pendant he's wearing. Soft, warm studio lighting, genuine look of appreciation, clean backg" />
              </picture>
            </li>
            <li class="testimonial-item card">
              <div class="testimonial-content">
                <div class="testimonial-stars">
                  <svg class="testimonial-star-filled" height="24" width="24">
                    <use href="./img/icons.svg#star-filled"></use>
                  </svg>
                  <svg class="testimonial-star-filled" height="24" width="24">
                    <use href="./img/icons.svg#star-filled"></use>
                  </svg>
                  <svg class="testimonial-star-filled" height="24" width="24">
                    <use href="./img/icons.svg#star-filled"></use>
                  </svg>
                  <svg class="testimonial-star-filled" height="24" width="24">
                    <use href="./img/icons.svg#star-filled"></use>
                  </svg>
                  <svg class="testimonial-star-empty" height="24" width="24">
                    <use href="./img/icons.svg#star-outline"></use>
                  </svg>
                </div>
                <p class="testimonial-text">"Each piece tells a story, and I love mine!"</p>
              </div>
              <p class="testimonial-avatar">Thomas Mans</p>
            </li>
          </ol>
        </li>
        <li class="testimonials-list-item"> <!-- Column in maquette -->
          <ol class="testimonials-list-list"> <!-- Row in maquette -->
            <li class="testimonial-item card">
              <div class="testimonial-content">
                <div class="testimonial-stars">
                  <svg class="testimonial-star-filled" height="24" width="24">
                    <use href="./img/icons.svg#star-filled"></use>
                  </svg>
                  <svg class="testimonial-star-filled" height="24" width="24">
                    <use href="./img/icons.svg#star-filled"></use>
                  </svg>
                  <svg class="testimonial-star-filled" height="24" width="24">
                    <use href="./img/icons.svg#star-filled"></use>
                  </svg>
                  <svg class="testimonial-star-filled" height="24" width="24">
                    <use href="./img/icons.svg#star-filled"></use>
                  </svg>
                  <svg class="testimonial-star-filled" height="24" width="24">
                    <use href="./img/icons.svg#star-filled"></use>
                  </svg>
                </div>
                <p class="testimonial-text">"The craftsmanship is exquisite, and I feel unique wearing it."</p>
              </div>
              <p class="testimonial-avatar">Jane Edison</p>
            </li>
            <li class="testimonial-item img">
              <picture class="testimonial-photo" height="260" width="335">
                <source media="(min-width: 1440px)"
                  srcset="./img/testimonials/cup-desk.webp 1x, ./img/testimonials/cup-desk@2x.webp 2x" />
                <source media="(min-width: 768px)"
                  srcset="./img/testimonials/cup-tab.webp 1x, ./img/testimonials/cup-tab@2x.webp 2x" />
                <img src="./img/testimonials/cup-mob.webp" srcset="./img/testimonials/cup-mob@2x.webp 2x"
                  alt="An overhead shot of a person's hands holding a cup of coffee, with a handmade bracelet subtly visible on their wrist" />
              </picture>
            </li>
            <li class="testimonial-item img">
              <picture class="testimonial-photo" height="260" width="335">
                <source media="(min-width: 1440px)"
                  srcset="./img/testimonials/ring-desk.webp 1x, ./img/testimonials/ring-desk@2x.webp 2x" />
                <source media="(min-width: 768px)"
                  srcset="./img/testimonials/ring-tab.webp 1x, ./img/testimonials/ring-tab@2x.webp 2x" />
                <img src="./img/testimonials/ring-mob.webp" srcset="./img/testimonials/ring-mob@2x.webp 2x"
                  alt="Close-up studio shot of a diverse person's hands delicately holding and examining a handmade ring, natural lighting, soft focus on the ring's details, genuine and relaxed atmosphere" />
              </picture>
            </li>
          </ol>
        </li>
      </ul>
    </div>
  </div>
</section>