.header .container{
    padding: 0px 12px 0px 24px;
    display: flex;
    align-items: center;
}


.header-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }
.header-nav-list{
    display: flex;
    gap: 16px;
}
header-nav-link{
  font-size: 16px; 
  line-height: 1.5;
}
.header-order-btn {
  display: block;
  padding: 6px 12px;
  background-color: #ccc16e;
  width: 119px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #ccc16e;
  text-align: center;
}
@media only screen and (max-width: 767.98px) {
  .header-nav {
    display: none;
  }
  .header-order-btn{
    display: none;
  }
}
.header-order-btn:hover,
.header-order-btn:focus {
  background-color: transparent;
}
@media only screen and (min-width: 768px) {
  .header-menu-btn {
    display: none;
  }
  .header .container{
    padding: 18px 32px;
    justify-content: space-between;
  }
  .header-logo-icon{
    width: 84px;
    height: 36px;
  }

}
@media only screen and (min-width: 1440px) {
  .header-order-btn {
    width: 192px;
    margin-left: auto;
  }
  .header-logo{
    margin-right: 32px;
  }
}
