.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 72px;
}

.header .container {
  padding: 0 12px 0 24px;
  display: flex;
  align-items: center;
  height: 100%;
}

.header-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.header-nav-list {
  display: flex;
  gap: 16px;
}

.header-nav-link {
  font-size: 16px;
  line-height: 1.5;
}

.header-order-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 0 12px;
  background-color: #ccc16e;
  width: 119px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #ccc16e;
  text-align: center;
  transition:
    color var(--link-animation),
    background-color var(--link-animation),
    border-color var(--link-animation);
}

.header-order-btn:hover,
.header-order-btn:focus-visible {
  color: #000000;
  background-color: transparent;
  border-color: #ccc16e;
}

@media only screen and (max-width: 767.98px) {
  .header-nav {
    display: none;
  }

  .header-order-btn {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header-menu-btn {
    display: none;
  }

  .header .container {
    padding: 0 32px;
    justify-content: space-between;
  }

  .header-logo-icon {
    width: 84px;
    height: 36px;
  }
}

@media only screen and (min-width: 1440px) {
  .header-order-btn {
    width: 192px;
    margin-left: auto;
  }

  .header-logo {
    margin-right: 32px;
  }

  .header-nav-list {
    gap: 32px;
  }

  .header .container {
    padding-left: 64px;
    padding-right: 64px;
  }
}
