.hero {
width: 100%;
max-width: 1440px;
min-height: clamp(560px, 174.93vw, 656px);
margin: 0 auto;
padding: clamp(120px, 42.67vw, 160px) 20px 40px;

background-color: #808080;
background-image: url('../img/hero-background/1x-mobile.avif');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.hero-content {
width: 100%;
max-width: 335px;
}

.hero-title {
margin: 0 0 24px;

font-weight: 400;
font-size: 40px;
line-height: 1.2;
letter-spacing: -0.01em;
color: #FFFFFF;
}

.hero-text {
margin: 0 0 32px;

font-size: 18px;
line-height: 1.5;
color: #FFFFFF;
}


.hero-pseudo-button {
display: flex;
align-items: center;
justify-content: center;

width: 100%;
min-height: 36px;
padding: 6px 12px;

font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
color: #000000;
text-decoration: none;

background-color: #CCC16E;
border: 1px solid #CCC16E;
cursor: pointer;

transition:
color 250ms cubic-bezier(0.4, 0, 0.2, 1),
background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-pseudo-button:hover,
.hero-pseudo-button:focus {
color: #000000;
background-color: transparent;
border-color: #CCC16E;
}

/* Retina mobile */

@media screen and (min-resolution: 2dppx) {
.hero {background-image: url('../img/hero-background/2x-mobile.avif');
}
}

/* Tablet */

@media screen and (min-width: 768px) {
.hero {
min-height: 864px;
padding: 160px 32px 0;

background-image: url('../img/hero-background/1x-tab.avif');
background-size: cover;
}

.hero-content {
max-width: 513px;
}

.hero-pseudo-button {
width: 217px;
}
}

@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
.hero {
background-image: url('../img/hero-background/2x-tab.avif');
}
}

/* Desktop */

@media screen and (min-width: 1440px) {
.hero {
min-height: 864px;
padding: 224px 64px 0;

background-image: url('../img/hero-background/1x-lap.avif');
background-size: 1440px 864px;
}

.hero-content {
max-width: 640px;
}

.hero-title {
font-size: 56px;
}

.hero-pseudo-button {
width: 192px;
}
}

@media screen and (min-width: 1440px) and (min-resolution: 2dppx) {
.hero {
background-image: url('../img/hero-background/2x-lap.avif');
}
}
